body{
background:gray;
color:white;
padding:30px;
}

.cards a{
display:block;
background :blue;
padding:20px;
margin:15px 0;
text-decoration:none;
color:whitesmoke;
border-radius:10px;
}