body{
background:#05052b;
color:white;
padding:30px;
}

.cards a{
display:block;
background:#0072ff;
padding:20px;
margin:15px 0;
text-decoration:none;
color:white;
border-radius:10px;
}