body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#05052b;
}

form{
background:white;
padding:40px;
border-radius:15px;
width:300px;
}

input,button{
width:100%;
padding:10px;
margin:10px 0;
border-radius:15px;
}

form{
background:rgb(47, 212, 231);
padding: 40px;
border-radius:15px;
width:300px;
}