body{
margin:0;
font-family:Arial;
background:#05052b;
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:#090938;
}

.logo{
font-size:28px;
font-weight:bold;
color:#00aaff;
}

.menu-icon{
font-size:30px;
cursor:pointer;
}

nav{
display:none;
flex-direction:column;
background:#111;
position:absolute;
top:70px;
right:20px;
padding:15px;
border-radius:10px;
}

nav a{
color:white;
text-decoration:none;
padding:10px;
}

.hero{
padding:30px;
}

.buttons{
display:flex;
gap:15px;
margin:20px 0;
}

.buttons a{
background:linear-gradient(90deg,#00c6ff,#0072ff);
padding:15px 25px;
border-radius:10px;
color:white;
text-decoration:none;
}

.features h3{
margin-top:25px;
}

@media(max-width:768px){
.buttons{
flex-direction:column;
}
}

.buttons{



    padding-left: 10px;
}