*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:gray;
    padding:20px;
}

.task-container{
    max-width:600px;
    margin:auto;
}

.header{
    text-align:center;
    margin-bottom:25px;
}

.header h2{
    color:orange;
    margin-bottom:8px;
}

.header p{
    color :blue ;
    font-size:14px;
}

.task-list{
    display:flex;
    flex-direction:column;
    gap:15px;

}

.task-card{
    background:rgb(246, 246, 247);
    padding:18px;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

.task-card h3{
    color:#222;
    margin-bottom:8px;
    font-size:18px;
}

.task-card p{
    color:#666;
    font-size:14px;
    margin-bottom:12px;
}

.btn{
    display:inline-block;
    padding:10px 18px;
    background:#071c11;
    color:white;
    text-decoration:none;
    border-radius:8px;
    transition:0.3s;
}

.btn:hover{
    background:#7f7d82;
}